japp_remotecontract/src/model/resources/MyWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MyWebServiceService" targetNamespace="http://remotecontract.japp.dfwcomputech.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://remotecontract.japp.dfwcomputech.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://remotecontract.japp.dfwcomputech.com" elementFormDefault="unqualified" targetNamespace="http://remotecontract.japp.dfwcomputech.com" version="1.0">
<xs:element name="login" type="tns:login"/>
<xs:element name="loginResponse" type="tns:loginResponse"/>
<xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="loginResponse" type="tns:userSession"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="userSession">
    <xs:all>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MyWebService">
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login">
    </wsdl:input>
      <wsdl:output name="loginResponse" message="tns:loginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWebServiceServiceSoapBinding" type="tns:MyWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWebServiceService">
    <wsdl:port name="MyWebServicePort" binding="tns:MyWebServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/MyWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
